@font-face {
    font-family: '8bitoperator JVE';
    src: url('https://cmd-hue.github.io/fonts/8bitoperator%20JVE.ttf') format('truetype');
}

@font-face {
    font-family: 'Angel Rhapsody';
    src: url('https://cmd-hue.github.io/fonts/Angel%20Rhapsody.ttf') format('truetype');
}

@font-face {
    font-family: 'beachday';
    src: url('https://cmd-hue.github.io/fonts/beachday.ttf') format('truetype');
}

@font-face {
    font-family: 'BloodStars PersonalUse';
    src: url('https://cmd-hue.github.io/fonts/BloodStars_PersonalUse.ttf') format('truetype');
}

@font-face {
    font-family: 'Blood Cyrillic';
    src: url('https://cmd-hue.github.io/fonts/Blood%20Cyrillic.ttf') format('truetype');
}

@font-face {
    font-family: 'Bubblegum';
    src: url('https://cmd-hue.github.io/fonts/Bubblegum.ttf') format('truetype');
}

@font-face {
    font-family: 'busrams';
    src: url('https://cmd-hue.github.io/fonts/busrams.ttf') format('truetype');
}

@font-face {
    font-family: 'Carton Six';
    src: url('https://cmd-hue.github.io/fonts/Carton%20Six.ttf') format('truetype');
}

@font-face {
    font-family: 'CartoonCheckRegular';
    src: url('https://cmd-hue.github.io/fonts/CartoonCheck-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CNBlocksBold';
    src: url('https://cmd-hue.github.io/fonts/CNBlocks-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'CNBlocksNewBold';
    src: url('https://cmd-hue.github.io/fonts/CNBlocksNew-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('https://cmd-hue.github.io/fonts/Comic%20Sans%20MS.ttf') format('truetype');
}

@font-face {
    font-family: 'DEFtone stylus';
    src: url('https://cmd-hue.github.io/fonts/DEFTONE%20stylus.ttf') format('truetype');
}

@font-face {
    font-family: 'Determination Mono Web';
    src: url('https://cmd-hue.github.io/fonts/Determination%20Mono%20Web.ttf') format('truetype');
}

@font-face {
    font-family: 'Doctor Soos Bold';
    src: url('https://cmd-hue.github.io/fonts/Doctor%20Soos%20Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Eagle Black';
    src: url('https://cmd-hue.github.io/fonts/Eagle%20Black.otf') format('truetype');
}

@font-face {
    font-family: 'Eagle Bold';
    src: url('https://cmd-hue.github.io/fonts/Eagle-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Elektrokom NF00';
    src: url('https://cmd-hue.github.io/fonts/ElektrokomNF00-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'elevator action';
    src: url('https://cmd-hue.github.io/fonts/elevator%20action.ttf') format('truetype');
}

@font-face {
    font-family: 'franklingothicbook';
    src: url('https://cmd-hue.github.io/fonts/franklingothicbook.ttf') format('truetype');
}

@font-face {
    font-family: 'franklingothicheavy';
    src: url('https://cmd-hue.github.io/fonts/franklingothicheavy.ttf') format('truetype');
}

@font-face {
    font-family: 'GodOfWar';
    src: url('https://cmd-hue.github.io/fonts/GodOfWar.ttf') format('truetype');
}

@font-face {
    font-family: 'GROBOLD';
    src: url('https://cmd-hue.github.io/fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica Rounded Bold';
    src: url('https://cmd-hue.github.io/fonts/Helvetica%20Rounded%20Bold%20off.ttf') format('truetype');
}

@font-face {
    font-family: 'Hugh is Life Personal Use';
    src: url('https://cmd-hue.github.io/fonts/Hugh%20is%20Life%20Personal%20Use.ttf') format('truetype');
}
@font-face {
    font-family: 'TBS 2015';
    src: url('https://cmd-hue.github.io/fonts/i_think_some_audiences_consider_me_to_be_funnier__by_dledeviant-d9ge26q.ttf') format('truetype');
}
@font-face {
    font-family: 'impact';
    src: url('https://cmd-hue.github.io/fonts/impact.ttf') format('truetype');
}
@font-face {
    font-family: 'kunstler';
    src: url('https://cmd-hue.github.io/fonts/KUNSTLER.ttf') format('truetype');
}
@font-face {
    font-family: 'Lemon Milk Medium';
    src: url('https://cmd-hue.github.io/fonts/Lemon%20Milk%20Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lemon Milk';
    src: url('https://cmd-hue.github.io/fonts/lemon%20milk.ttf') format('truetype');
}
@font-face {
    font-family: 'Mario Kart DS';
    src: url('https://cmd-hue.github.io/fonts/Mario%20Kart%20DS.ttf') format('truetype');
}
@font-face {
    font-family: 'Mario Kart DS';
    src: url('https://cmd-hue.github.io/fonts/Mario%20Kart%20DS.ttf') format('truetype');
}

@font-face {
    font-family: 'Mouse Memoirs';
    src: url('https://cmd-hue.github.io/fonts/Mouse%20Memoirs.ttf') format('truetype');
}

@font-face {
    font-family: 'Naganoshi';
    src: url('https://cmd-hue.github.io/fonts/Naganoshi.ttf') format('truetype');
}

@font-face {
    font-family: 'Neuropol';
    src: url('https://cmd-hue.github.io/fonts/Neuropol.ttf') format('truetype');
}

@font-face {
    font-family: 'Norse';
    src: url('https://cmd-hue.github.io/fonts/Norse.otf') format('opentype');
}

@font-face {
    font-family: 'OMORI GAME 2';
    src: url('https://cmd-hue.github.io/fonts/OMORI_GAME_2.TTF') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('https://cmd-hue.github.io/fonts/PAPYRUS.TTF') format('truetype');
}

@font-face {
    font-family: 'Pepperoni';
    src: url('https://cmd-hue.github.io/fonts/Pepperoni.otf') format('opentype');
}

@font-face {
    font-family: 'Piston';
    src: url('https://cmd-hue.github.io/fonts/Piston.ttf') format('truetype');
}

@font-face {
    font-family: 'Pixel 12x10 Mono';
    src: url('https://cmd-hue.github.io/fonts/Pixel12x10Mono.ttf') format('truetype');
}

@font-face {
    font-family: 'Sniglet';
    src: url('https://cmd-hue.github.io/fonts/Sniglet.ttf') format('truetype');
}

@font-face {
    font-family: 'TBS 2004';
    src: url('https://cmd-hue.github.io/fonts/some_people_consider_me_to_be_veryfunny_by_629lyric-d9fvs17_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Spongeboy Me Bob';
    src: url('https://cmd-hue.github.io/fonts/Spongeboy%20Me%20Bob.ttf') format('truetype');
}

@font-face {
    font-family: 'Super Mario 64';
    src: url('https://cmd-hue.github.io/fonts/SuperMario64Font.ttf') format('truetype');
}

@font-face {
    font-family: 'TBS Helvetica';
    src: url('https://cmd-hue.github.io/fonts/TBSHelvetica-Bold.otf') format('opentype');
}

@font-face {
    font-family: 't2b';
    src: url('https://cmd-hue.github.io/fonts/t2b.ttf') format('truetype');
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('https://cmd-hue.github.io/fonts/VCR_OSD_MONO.ttf') format('truetype');
}

@font-face {
    font-family: 'Veryfunny Helvetica Bold';
    src: url('https://cmd-hue.github.io/fonts/VeryfunnyHelvetica-Bold.otf') format('opentype');
}

/* SOME LINKS MAY BE BROKEN, IF SO, PLEASE OPEN AN ISSUE ON GITHUB */
/* Credits to font authors and websites hosting the fonts */
/* End of fonts/main.css */